{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                        <h2 class="account-heading">About</h2>
                </legend>
            </fieldset>
            <div class="form-group">
                <p>Tea Connect is a website developed by Robert Tea. It was founded in September 2018.
                    It provides a place for people to communicate and establish connections.</p>
                <p>The company is located at 4800 Calhoun Rd, Houston, TX 77004.</p>
            </div>
            <br>
            <div class="mapouter"><div class="gmap_canvas"><iframe width="450" height="300" align="left" id="gmap_canvas"
                 src="https://maps.google.com/maps?q=4800%20Calhoun%20Rd%2C%20Houston%2C%20TX%2077004&t=&z=13&ie=UTF8&iwloc=&output=embed"
                 frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{text-align:right;height:450px;width:300px;}.gmap_canvas
                {overflow:hidden;background:none!important;height:450px;width:300px;}</style></div>
        </form>
    </div>
{% endblock content %}
