{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                        <h2 class="account-heading">Announcements</h2>
                </legend>
            </fieldset>
            <div class="form-group">

            </div>
        </form>
    </div>
{% endblock content %}
