{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                        <h2 class="account-heading">Calendar</h2>
                </legend>
            </fieldset>
            <div class="form-group">
                <iframe src="https://calendar.google.com/calendar/embed?src=robteaw%40gmail.com&ctz=America%2FChicago" style="border: 0" width="680" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
        </form>
    </div>
{% endblock content %}
