{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                        <h2 class="account-heading">Game</h2>
                </legend>
            </fieldset>
            <div class="form-group">
                <script src="https://cdn.htmlgames.com/embed.js?game=DailyWordSearch&amp;width=680&amp;height=450&amp;bgcolor=white"></script>
            </div>
        </form>
    </div>
    <div>
</div>
{% endblock content %}
